ref_data/*ebwt
ref_data/*fna
ref_data/*fa
ref_data/*gz
ref_data/*doc
ref_data/wuhCor1*
ref_data/gisaid*
ref_data/human_CoV
ref_data/nextstrain
ref_data/influenza
ref_data/RNA_expression/*bam
ref_data/RNA_expression/*sam
ref_data/RNA_expression/*cov
ref_data/RNA_expression/*fastq
ref_data/RNA_expression/*bowtiestats
ref_data/RNA_expression/*pdf
ref_data/RNA_expression/*genome
ref_data/other_pathogens/*fa
ref_data/other_pathogens/*fai
ref_data/other_pathogens/*bed
ref_data/other_pathogens/*gff
crossreactivity/guides/*
crossreactivity/structures/*
outputs/influenza*/*txt
outputs/influenza*/*sam
outputs/influenza*/*fa
outputs/influenza*/*bowtiestats
NCR/analyze_data_cache/*
NCR/analyze_data_files/*
